@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1> Registro de Covid</h1>
    <label>El siguiente formulario es para llevar el registro de casos reportados de Covid por departamento y genero</label>

    <h4>Reportar casos</h4>
    <div class="form-group row mb-4">
        <div class="col-sm-4">
            <label>Departamento</label>
            @Html.DropDownList("iddepartamento", ViewData["listaDepartamentos"] as SelectList, "Seleccione un Departamento", new {@class="form-control"})
        </div>
        <div class="col-sm-4">
            <label>Generos</label>
            @Html.DropDownList("idgenero", ViewData["listaGeneros"] as SelectList, "Seleccione Genero", new {@class="form-control"})
        </div>
    </div>
    <div class="form-group row mb-4">
        <div class="col-sm-4">
           <label>Casos Confirmados</label>
           @Html.TextBox("nombre","", new {@class="form-control"})
        </div>
        <div class="col-sm-4">
            <label>Numero de recuperados</label>
            @Html.TextBox("nombre","", new {@class="form-control"})
        </div>
        <div class="col-sm-4">
            <label>Numero de fallecidos</label>
            @Html.TextBox("nombre","", new {@class="form-control"})
        </div>
        
        
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-success" type="submit" value="Guardar">Guardar</button>
    </div>

}
